@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

body {
  /* max-width: 100%; */
  font-family: "IBM Plex Sans";
  color: #191826;
  position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  margin-top: -20rem;
  margin-left: -10rem;
  width: 100%;
  height: 100%;
  background: url("assets/bg-main-desktop.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
}

.pattern1 {
  position: absolute;
  width: 270px;
  top: -40px;
  right: 0;
  z-index: 10;
}
.body {
  margin: 62px 0px 165px 62px;

  font-weight: 400;
  font-style: normal;
}

.slogan {
  width: 60vw;
  height: 176px;
  margin-top: 161px;

  font-weight: 700;
  font-size: 78px;
  line-height: 88px;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}
.details {
  width: 825px;
  height: 102px;
  margin-top: 80px;

  font-size: 20px;
  line-height: 34px;
}

.blackCard {
  background-color: #191826;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 288px;
  width: 85vw;
  height: 600px;
  position: relative;
}
.illustration {
  width: 312px;
  height: 642px;
  z-index: 2;
  margin-top: -158px;
}
.phone {
  width: 280px;
  height: 606px;
  margin-left: 10%;
}

.pattern2 {
  position: absolute;
  height: 468px;
  width: 30%;
  left: 25%;
}

.premiumCard {
  position: absolute;
  background-color: #fa7453;
  padding: 54px;
  right: 0;
  z-index: 4;
  margin-right: 5%;
  margin-top: 120px;

  border-radius: 12px;
}

.premiumHeader {
  width: 333px;

  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: #fcfaf9;
}

.premiumDescription {
  width: 333px;
  height: 170px;
  font-size: 20px;
  line-height: 34px;
  margin-top: 22px;

  color: #fcfaf9;
}

.charges {
  width: 165px;
  height: 52px;
  margin-top: 39px;
  margin-bottom: 46px;

  font-weight: 700;
  font-size: 65px;
  line-height: 52px;

  color: #fcfaf9;
}
.period {
  height: 32px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  letter-spacing: -0.2px;
}

.button {
  display: flex;
  flex-direction: column;
}

.iOS {
  height: 61px;
  border: none;
  border-radius: 12px;
  background-color: #191826;
  color: #fcfaf9;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.18px;
}
.iOS:hover {
  cursor: pointer;
  background-color: #66e2dc;
}

.android {
  margin-top: 16px;
  height: 61px;
  border: none;
  border-radius: 12px;
  background-color: #fcfaf9;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.18px;
}

.android:hover {
  cursor: pointer;
  background-color: #ffb964;
}

.footer {
  margin-top: 202px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.copyright {
  width: 300px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.site {
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 30px;
}

svg:hover path {
  cursor: pointer;
  fill: #fa7453;
}

/* Tablet view */
@media (max-width: 768px) {
  body {
    max-width: 100%;
  }

  .body {
    margin-top: 62px;
    margin-left: 0%;
    margin-bottom: 85px;
  }

  .body::before {
    content: "";
    position: absolute;
    margin-top: -13rem;
    margin-left: -35rem;
    width: 100%;
    height: 100rem;
    background: url("assets/bg-main-tablet.png") no-repeat;
  }

  .pattern1 {
    position: absolute;
    width: 266.67px;
    height: 400px;
    right: 0%;
    left: 537px;
  }

  .headerLogo {
    margin-left: 39px;
  }
  .slogan {
    font-size: 64px;
    line-height: 64px;
    width: 520px;
    margin-left: 39px;
  }
  .details {
    font-size: 18px;
    line-height: 28px;
    width: 514px;
    margin-left: 39px;
  }

  .blackCard {
    width: 696px;
    height: 600px;
    margin-left: 18px;
  }

  .phone {
    margin-left: 64px;
  }
  .pattern2 {
    position: absolute;
    left: 30%;
  }
  .premiumCard {
    position: absolute;
    width: fit-content;
    z-index: 4;
    left: 272px;
  }
  .premiumHeader {
    width: 302px;

    font-size: 32px;
    line-height: 40px;
  }
  .premiumDescription {
    width: 302px;

    font-size: 18px;
    line-height: 28px;
  }
  .button {
    width: 296px;
  }
  .footer {
    margin-left: 18px;
  }
}

/* Mobile View */
@media (max-width: 412px) {
  .pattern1 {
    display: none;
  }
  .body {
    margin-left: -28px;
  }

  .body::before {
    content: "";
    position: fixed;
    margin-top: -13rem;
    margin-right: 0rem;
    width: 100%;
    height: 100rem;
    background: url("assets/bg-main-mobile.png") no-repeat;
  }

  .headerLogo {
    margin-left: 52px;
  }

  .slogan {
    width: 327px;
    font-size: 40px;
    line-height: 48px;

    letter-spacing: -0.454545px;
    margin-left: 52px;
    margin-top: 20px;
  }

  .details {
    width: 327px;
    margin-left: 52px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 20px;
  }

  .blackCard {
    width: 412px;
    height: 600px;
    margin-top: 224px;
    left: 0px;
    right: 0px;
  }

  .illustration {
    margin-left: 40px;
  }

  .phone {
    width: 228.97px;
    height: 480px;
    margin-top: 50px;
  }
  .pattern2 {
    position: absolute;
    width: 280px;
    height: 420px;
    left: 58px;
  }
  .premiumCard {
    width: max-content;
    left: 0%;
    top: 50%;
    margin-right: 0%;
  }
  .premiumHeader {
    font-size: 32px;
    line-height: 40px;
  }
  .premiumDescription {
    font-size: 18px;
    line-height: 28px;
  }
  .iOS {
    width: 296px;
    height: 61px;
  }
  .android {
    width: 296px;
    height: 61px;
  }

  .footer {
    margin-top: 500px;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    margin-left: -20%;
  }
}
