:root {
  --premiumCard-left-margin: 665px;
}

body {
  position: relative;
  font-family: IBM Plex Sans;

  background-image: url("assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
}
.headerLogo {
  position: absolute;
  width: 146.09px;
  height: 32px;
  left: 50px;
  top: 61.99px;
}

.sideDesign {
  position: absolute;
  width: 212px;
  height: 468px;
  right: 0%;
  top: -40px;
}

.slogan {
  position: absolute;
  width: 1010px;
  height: 176px;
  left: 50px;
  top: 221px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;

  letter-spacing: -1px;

  color: #191826;
}

.body1 {
  position: absolute;
  width: 825px;
  height: 102px;
  left: 50px;
  top: 437px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #191826;
}

.illustration {
  position: absolute;
  width: 369px;
  height: 642;
  left: 69px;
  top: 347px;
}

.phone {
  position: absolute;
  width: 312px;
  height: 642px;
  left: 69px;
  top: 347px;
}

.blackCard {
  position: absolute;
  width: 1110px;
  height: 600px;
  left: 50px;
  top: 860px;

  background: #191826;
  border-radius: 12px;
}

.pattern2 {
  position: absolute;
  width: 312px;
  height: 468px;
  left: 372px;
  top: 820px;
}

.premiumCard {
  position: absolute;
  height: 625px;
  left: 608px;
  width: 446px;
  top: 950px;

  background-color: hsl(12, 94%, 65%);
  color: #fcfaf9;
  border-radius: 12px;
}

.premiumHeader {
  position: absolute;
  width: 333px;
  height: 52px;
  left: var(--premiumCard-left-margin);
  top: 1008px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: #fcfaf9;
}

.premiumDescription {
  position: absolute;
  width: 333px;
  height: 170px;
  left: var(--premiumCard-left-margin);
  top: 1082px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #fcfaf9;
}

.premiumCharges {
  position: absolute;
  width: 165px;
  height: 52px;
  left: var(--premiumCard-left-margin);
  top: 1291px;
}
.bill {
  position: absolute;
  height: 52px;
  left: 0%;
  right: 52.12%;
  top: calc(50% - 52px / 2);

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;

  color: #fcfaf9;
}
.period {
  position: absolute;
  height: 32px;
  left: 57.58%;
  right: 0%;
  top: calc(50% - 32px / 2 - 1px);

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  letter-spacing: -0.2px;

  color: #fcfaf9;
}

.iosButton {
  position: absolute;
  width: 333px;
  height: 61px;
  left: var(--premiumCard-left-margin);
  top: 1389px;

  background-color: #191826;
  color: #fcfaf9;
  border-radius: 15px;
  border: none;
}

.iosButton:hover {
  color: #fcfaf9;
  background-color: #66e2dc;
}

.andriodButton {
  position: absolute;
  width: 333px;
  height: 61px;
  left: var(--premiumCard-left-margin);
  top: 1466px;

  border-radius: 15px;
  border: none;
}

.andriodButton:hover {
  background-color: #ffb964;
  color: #191826;
}

.footer {
  /* display: flex;
  justify-content: space-around; */
  position: absolute;
  width: 1110px;
  height: 79px;
  left: 50px;
  top: 1662px;
}

.copyright {
  position: absolute;
  left: 25.68%;
  right: 41.35%;
  top: 0%;
  bottom: 0%;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #191826;
}

.icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 1010px;
  top: 29px;
}

.facebookIcon:hover {
  fill: #fa7453;
}

.instagramIcon:hover {
  fill: #fa7453;
}

.twitterIcon:hover {
  fill: #fa7453;
}

.bottomLogo {
  position: absolute;
  width: 146.09px;
  height: 32px;
  left: 1.15px;
  top: -0.01px;
}

@media (max-width: 768px) {
  body {
    position: relative;
    background-image: url("assets/bg-main-tablet.png");
  }

  .sideDesign {
    position: absolute;
    width: 266.67px;
    height: 400px;
    left: 537px;
    top: -32px;
  }

  .headerLogo {
    position: absolute;
    left: 39.15px;
  }

  .slogan {
    position: absolute;
    width: 520px;
    height: 192px;
    left: 39px;
    top: 189px;

    font-weight: 700;
    font-size: 64px;
    line-height: 64px;

    letter-spacing: -0.727273px;
  }

  .body1 {
    position: absolute;
    width: 470px;
    height: 112px;
    left: 39px;
    top: 409px;

    font-size: 18px;
    line-height: 28px;
  }

  .blackCard {
    position: absolute;
    width: 696px;
    height: 600px;
    left: 33px;
    top: 800px;
  }

  .pattern2 {
    position: absolute;
    width: 280px;
    height: 420px;
    left: 262px;
    top: 769px;
  }

  .illustration {
    position: absolute;
    left: 12px;
  }

  .phone {
    position: absolute;
    left: 87px;
    top: 300px;
    width: 270.21px;
    height: 556px;
  }

  .premiumCard {
    position: absolute;
    width: 399px;
    height: 546px;
    left: 275px;
    top: 950px;
  }

  .premiumHeader {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 320px;
    top: 978px;

    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .premiumDescription {
    position: absolute;
    width: 302px;
    height: 140px;
    left: 320px;
    top: 1030px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  .premiumCharges {
    position: absolute;
    width: 165px;
    height: 52px;
    left: 326px;
    top: 1206px;
  }

  .bill {
    position: absolute;
    height: 52px;
    left: 0%;
    right: 52.12%;
    top: calc(50% - 52px / 2);

    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
  }

  .period {
    position: absolute;
    height: 32px;
    left: 57.58%;
    right: 0%;
    top: calc(50% - 32px / 2 - 1px);

    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    letter-spacing: -0.2px;
  }

  .iosButton {
    position: absolute;
    width: 296px;
    height: 61px;
    left: 326px;
    top: 1300px;
  }

  .andriodButton {
    position: absolute;
    width: 296px;
    height: 61px;
    left: 326px;
    top: 1377px;
  }

  .footer {
    position: absolute;
    width: 696px;
    height: 143px;
    left: 33px;
    top: 1553px;
  }

  .bottomLogo {
    position: absolute;
    width: 146.09px;
    height: 32px;
    left: 1.15px;
    top: -0.01px;
  }

  .copyright {
    position: absolute;
    left: 0%;
    right: 47.41%;
    top: 44.76%;
    bottom: 0%;

    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .icons {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 596px;
    top: 94px;
  }
}

@media screen and (max-width: 376px) {
  * {
    margin: 0%;
    padding: 0%;
    max-width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    background-image: url("assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    left: 159px;
  }

  .sideDesign {
    display: none;
  }

  .headerLogo {
    width: 146.09px;
    height: 32px;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
  }

  .section1 {
    width: 327px;
    height: 320px;
    left: 24px;
    top: 136px;
  }

  .slogan {
    position: absolute;
    width: 327px;
    height: 144px;
    left: 24px;
    top: 136px;

    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    letter-spacing: -0.454545px;
  }

  .body1 {
    position: absolute;
    width: 327px;
    height: 156px;
    left: 24px;
    top: 300px;

    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .blackCard {
    width: 375px;
    height: 600px;
    left: 0px;
    top: 622px;
  }

  .pattern2 {
    position: absolute;
    width: 280px;
    height: 420px;
    left: 48px;
    top: 622px;
  }

  .illustration {
    width: 208.97px;
    height: 430px;
    left: 0.67px;
    top: 4px;
  }

  .phone {
    width: 208.97px;
    height: 430px;
    left: 80.67px;
    top: 500px;
  }

  .premiumCard {
    position: absolute;
    width: 375px;
    height: 546px;
    left: 0px;
    top: 1002px;
  }

  .premiumHeader {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 36px;
    top: 1050px;
  }

  .premiumDescription {
    width: 302px;
    height: 140px;
    left: 36px;
    top: 1102px;
  }

  .premiumCharges {
    position: absolute;
    width: 165px;
    height: 52px;
    left: 42px;
    top: 1278px;
  }

  .iosButton {
    position: absolute;
    width: 296px;
    height: 61px;
    left: 42px;
    top: 1362px;
  }

  .andriodButton {
    position: absolute;
    width: 296px;
    height: 61px;
    left: 42px;
    top: 1439px;
  }

  .footer {
    position: absolute;
    width: 327px;
    height: 169px;
    left: 24px;
    top: 1612px;
  }

  .icons {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 24px;
    top: 245px;
  }
}
