@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 90vw;
  overflow-x: hidden;
  font-family: "IBM Plex Sans";
  color: #191826;
}
body::before {
  content: "";
  position: absolute;
  margin-top: -10rem;
  width: 100%;
  height: 100%;
  background: url("assets/bg-main-desktop.png") no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
}
.headerLogo {
  width: 12%;
  height: 2.5%;
  justify-self: center;
  margin-top: 6rem;
  margin-left: 8%;
}
.pattern1 {
  margin-top: -3%;
  margin-right: 0;
}
.article {
  margin-top: -25vh;
  font-weight: 400;
  font-style: normal;
  margin-left: 8%;
}
.slogan {
  width: 65%;

  font-weight: 700;
  font-size: 88px;
}
.details {
  width: 59%;
  font-weight: 400;
  font-size: 20px;
}
.blackCardContainer {
  margin-left: 6%;
  margin-right: 8%;
  margin-top: 20%;
  margin-bottom: 20%;
  position: relative;
  background-color: #191826;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.pattern2 {
  width: 312px;
  height: 448px;
  position: relative;
}
.phone {
  width: 312px;
  height: 642px;
  position: absolute;
  left: 259px;
  bottom: 160px;
  z-index: 2;
}

.premiumCard {
  color: #fcfaf9;
  background-color: #fa7453;
  border-radius: 12px;
  padding: 40px;
  position: absolute;
  right: 170px;
  top: 160px;
  z-index: 3;
}

.premiumHeader {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
.premiumDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  width: 333px;
  margin-top: 22px;
}
.charges {
  margin-top: 39px;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}
.period {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.button {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.iOS {
  height: 61px;
  border: none;
  border-radius: 12px;
  background-color: #191826;
  color: #fcfaf9;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.18px;
}
.iOS:hover {
  cursor: pointer;
  background-color: #66e2dc;
}

.android {
  margin-top: 16px;
  height: 61px;
  border: none;
  border-radius: 12px;
  background-color: #fcfaf9;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.18px;
}

.android:hover {
  cursor: pointer;
  background-color: #ffb964;
}

.footer {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 8%;
  margin-bottom: 10%;
}

.copyright {
  width: 355px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.site {
  font-weight: bold;
}
.icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

svg:hover path {
  cursor: pointer;
  fill: #fa7453;
}

/* Tablet view */
@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  body::before {
    content: "";
    position: absolute;
    margin-top: -10rem;
    margin-left: -10rem;
    width: 100%;
    height: 100%;
    background: url("assets/bg-main-tablet.png") repeat-y;
    background-size: cover;
  }

  .headerLogo {
    width: 26%;
    height: 25%;
    justify-self: center;
    margin-top: 6%;
    margin-left: 5%;
  }
  .pattern1 {
    width: 226.67px;
    height: 380px;
    z-index: 2;
  }

  .article {
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
  }
  .slogan {
    width: 65%;

    font-size: 64px;
    line-height: 64px;

    letter-spacing: -0.727273px;
  }
  .details {
    width: 66%;
    font-weight: 400;
    font-size: 18px;
    margin-top: 4%;
  }
  .blackCardContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40%;
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .pattern2 {
    width: 280px;
    height: 400px;
    margin-left: 75px;
  }
  .phone {
    width: 270.21px;
    height: 556px;
    left: 70px;
  }
  .premiumCard {
    right: 50px;
    top: 180px;
  }
  .premiumHeader {
    font-size: 32px;
    line-height: 40px;
  }
  .premiumDescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 302px;
  }
  .button {
    width: 296px;
  }
  .footer {
    margin-left: 0%;
  }
  .bottomLogo {
    width: 100%;
    margin-left: 8%;
  }
}

/* Mobile View */
@media (max-width: 426px) {
  .body::before {
    content: "";
    position: fixed;
    margin-top: 3rem;
    margin-left: 100%;
    width: 100%;
    height: 100%;
    background: url("assets/bg-main-mobile.png") no-repeat cover;
  }
  .pattern1 {
    display: none;
  }
  .article {
    margin-top: 10vh;
  }
  .slogan {
    width: 327px;
    height: 144px;
    font-size: 40px;
    line-height: 48px;

    letter-spacing: -0.454545px;
  }
  .details {
    width: 327px;
    height: 156px;
    font-size: 16px;
    line-height: 26px;
  }
  .blackCardContainer {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 40%;
    margin-bottom: 140%;
    width: 425px;
    height: 600px;
  }

  .pattern2 {
    width: 300px;
    height: 440px;
    margin-left: -20px;
  }
  .phone {
    width: 208.97px;
    height: 430px;
    left: 90.67px;
    top: -100px;
  }
  .premiumCard {
    top: 400px;
    right: 0px;
    left: 0;
    padding: 50px;
  }

  .premiumHeader {
    font-size: 37px;
    line-height: 40px;
  }
  .premiumDescription {
    font-size: 19px;
    line-height: 28px;
    width: 312px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .copyright {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
